.page {
  background-image: var(--bg-image);
  background-color: var(--bg-color);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: var(--text-color);
  font-family: 'IBM Plex Mono', 'Courier New', Courier, monospace;
  font-size: 18px;
}

.page__container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 10px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card__title {
  font-size: 18px;
  background-color: var(--accent-color);
  color: var(--text-accent-color);
  padding: 2px 0;
  line-height: 1.3;
  font-weight: 700;
}

.card__title--regular {
  font-weight: 400;
}

.card__content {
  padding-top: 10px;
}

.card__paragraph {
  color: var(--text-color);
  line-height: 1.3;
  margin: 0;
  font-size: 18px;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--text-accent-color);
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  align-items: center;
  min-height: 668px;
  height: 100vh;
  padding: 10px 0;
}

.header__theme-menu {
  justify-self: end;
  margin-top: 10px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  padding: 2px 14px;
  cursor: pointer;
  color: var(--accent-color);
  text-transform: lowercase;
  font-family: inherit;
  font-size: inherit;
  line-height: 1;
  transition: border-color 0.3s ease;
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--menu-button-active);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--menu-button-hover);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--menu-button-focus);
}

.header__rec {
  position: absolute;
  top: 10px;
  right: 38px;
  color: var(--accent-color);
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.39;
}

.header__rec::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
  top: 8px;
  right: -20px;
}

.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: 0.825;
  letter-spacing: 0.205em;
  margin-top: 65px;
  margin-left: 0;
  font-weight: 700;
}

.header__text {
  justify-self: end;
  max-width: 491px;
  width: 100%;
  font-weight: 700;
  background-color: var(--accent-color);
  color: var(--text-accent-color);
  padding: 0 12px;
  margin-bottom: 55px;
  line-height: 1.3;
  font-size: 18px;
}

.content {
  padding: 40px 0 20px;
}

.content-section {
  margin-bottom: 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content-section__title {
  color: var(--accept-color);
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: 700;
  line-height: 1.3;
  word-break: break-word;
}

.content-section__body {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.content-section__body--card-column {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}

.content-section--tips {
  margin-bottom: 20px;
}

.tips-header__main {
  font-weight: 700;
  font-size: 18px;
  color: var(--accept-color);
  line-height: 1.3;
  margin: 0;
}

.tips-header__subtitle {
  background-color: var(--accent-color);
  color: var(--text-accent-color);
  padding: 4px 10px;
  font-size: 18px;
  margin: 0;
  line-height: 1.3;
  font-weight: 400;
}

.content-section__body--tips {
  gap: 0;
}

.card--advice {
  margin-bottom: 12px;
  position: relative;
}

.card--advice:last-child {
  margin-bottom: 0;
}

.card--advice .card__title {
  margin: 0;
  padding: 4px 10px;
  text-align: start;
}

.card--advice .card__paragraph {
  margin: 0;
  padding: 8px 0 0 0;
}

.gallery {
  padding: 0;
  position: relative;
  margin-left: 21px;
}

.gallery__title {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.3;
}

.gallery__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;
}

.gallery__image {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.footer {
  position: relative;
  display: grid;
  place-items: center;
  min-height: 668px;
  height: 100vh;
  padding: 10px 0;
}

.footer__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  letter-spacing: 3px;
  color: var(--title-color);
  text-shadow: 2px 2px 0 var(--accent-color);
  font-weight: 700;
  line-height: 0.825;
  margin-bottom: 0;
}

.link {
  color: var(--text-color);
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
  transition: border-color 0.3s ease;
}

.link:hover {
  border-bottom: 1px solid var(--text-color);
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid var(--text-color);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 0;
  width: 25px;
  height: 25px;
  border-top: 1px solid #353430;
  border-right: 1px solid #353430;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid #353430;
  border-left: 1px solid #353430;
}

@media (max-width: 767px) {
  .page__container {
    max-width: 100%;
  }

  .header {
    padding: 10px 0;
  }
  
  .header__rec {
    top: 10px;
    right: 28px;
  }

  .header__theme-menu-list {
    gap: 17px
  }
  
  .header__title {
    font-size: clamp(7.25rem, 2.0115rem + 0.0178vw, 8.5rem);
    margin-top: 0;
    letter-spacing: 0;
  }
  
  .header__text {
    max-width: 100%;
    margin-bottom: 0;
    margin-right: 0;
    padding: 0;
  }

  .header__theme-menu {
    margin-top: 0;
    margin-right: 10px;
  }
  
  .content {
    padding: 30px 0 15px;
  }
  
  .content-section {
    margin-bottom: 42px;
    gap: 15px;
  }
  
  .content-section__title {
    margin-bottom: 0;
    margin-top: 11px;
  }

  .tips-header {
    margin-top: 16px;
    margin-bottom: 9px;
  }

  .tips-header__subtitle {
    margin-top: 16px;
    margin-bottom: 20px;
    padding: 0;
  }

  .card--advice .card__title {
    padding: 0;
  }

  .content-section--tips .card--advice {
    margin-bottom: 10px;
  }

  .card {
    margin-top: 3px;
  }
  
  .content-section__body {
    gap: 12px;
  }
  
  .card__content {
    padding-top: 8px;
  }

  .gallery {
    margin-left: 0;
  }

  .gallery__title {
    margin-bottom: 16px;
  }

  .gallery__grid {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .footer__title {
    margin-top: 54px;
    font-size: clamp(6.25rem, 7.0115rem + 0.0178vw, 7.5rem);
    margin-left: 4px;
  }
  
  .decorated-zone::before {
    top: 10px;
    right: 0;
  }
  
  .decorated-zone::after {
    bottom: 10px;
    left: 0;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .page__container {
    padding: 0;
  }
  
  .header {
    padding: 20px 0;
  }
  
  .header__rec {
    top: 20px;
    right: 49px;
  }
  
  .header__title {
    font-size: clamp(6.2rem, 2.5625rem + 6.4531vw, 0.8125rem);
    margin-top: 9px;
    letter-spacing: 5px;
  }
  
  .header__text {
    padding: 0;
    max-width: 364px;
    margin-bottom: 2px;
    margin-right: 20px;
  }

  .header__theme-menu {
    margin-right: 22px;
    margin-top: 0;
    margin-bottom: 2px;
  }

  .header__theme-menu-list {
    gap: 15px;
  }
  
  .content {
    padding: 56px 0 30px;
  }
  
  .content-section {
    margin-left: 21px;
    gap: 15px;
    margin-bottom: 43px;
  }

  .content-section--why {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    align-items: start;
    margin-bottom: 67px;
    margin-left: 20px;
  }
  
  .content-section__title {
    margin-bottom: 0;
    padding-top: 5px;
    width: 211px;
  }

  .text-card__paragraph {
    margin-top: 9px;
  }

  .content-section--factors .content-section__title {
    margin-top: 10px;
  }
  
  .content-section__body {
    gap: 25px;
  }

  .why-title {
    height: 23px;
    margin-top: 4px;
  }
  
  .content-section__body--card-column {
    grid-template-columns: repeat(1, 1fr);
    gap: 21px;
  }

  .tips-header__subtitle {
    padding: 0 0 0 0;
    margin-bottom: 20px;
    width: 472px;
  }

  .title-decor {
    width: 472px;
  }

  .factor-title {
    width: 728px;
    margin-top: 4px;
    height: 23px;
  }

  .card__paragraph {
    margin-top: 4px;
  }

  .card__content {
    padding-top: 10px;
  }

  .card--advice {
    margin-bottom: 30px;
  }

  .card--advice .card__title {
    padding: 0;
  }

  .card--advice .card__paragraph {
    margin: 0;
    padding: 0;
  }

  .tips-header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 11px;
    margin-bottom: 60px;
    margin-top: 40px;
  }

  .tips-header__main {
    margin-top: 0px;
  }

  .content-section--tips .content-section__body--tips {
    margin-left: 0;
  }

  .gallery__grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
    margin-top: 20px;
    margin-right: 19px;
  }

   .gallery-title-custom {
    width: 98%;
  }

  .gallery__image:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    height: 192px;
  }
  
  .gallery__image:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    height: 441px;
  }
  
  .gallery__image:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    height: 568px;
  }
  
  .gallery__image:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    height: 230px;
  }
  
  .gallery__image:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    height: 318px;
  }

  .footer__title {
    font-size: clamp(7.25rem, 6.0115rem + 1.0178vw, 7.5rem);
    margin-top: 61px;
  }
  
  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }
  
  .decorated-zone::after {
    bottom: 20px;
    left: 0;
  }
}

@media (min-width: 1024px) {
  .page__container {
    padding: 0;
  }
  
  .header {
    padding: 0;
  }
  
  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }
  
  .header__theme-menu-list {
    flex-direction: row;
    margin-top: 19px;
    gap: 7px;
    margin-left: 20px;
  }
  
  .header__rec {
    top: 20px;
    right: 48px;
  }
  
  .header__title {
    font-size: clamp(7.9rem, 0rem + 15.4531vw, 9.8125rem);
    margin-top: 3px;
    letter-spacing: 0;
  }
  
  .header__text {
    max-width: 490px;
    margin-bottom: 23px;
    margin-right: 21px;
    padding: 0;
  }
  
  .content {
    padding: 0 0 20px;
  }
  
  .content-section--why {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    align-items: start;
    margin-bottom: 44px;
    margin-top: 55px;
    margin-left: 13px;
  }

  .content-section--why .content-section__title {
    margin-left: 7px;
    margin-top: 0px;
  }

  .card__paragraph {
    margin-top: 4px;
  }
  
  .content-section__title {
    margin-bottom: 0;
    width: 284px;
    margin-left: 0;
  }

  .title-decor { 
    width: 649px;
    height: 23px;
  }
  
  .content-section__body {
    gap: 0px;
    margin-left: 41px;
    margin-top: 5px;
  }

  .text-card__paragraph {
    margin-top: 11px;
    width: 673px;
    margin-bottom: 23px;
  }
  
  .card__content {
    padding-top: 7px;
  }

  .text-card {
    width: 100%;
  }

  .content-section--factors {
    margin-bottom: 0px;
    margin-left: 21px;
    gap: 15px;
  }
  
  .content-section__body--card-column {
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    width: 99%;
    margin-left: 0px;
    margin-top: 5px;
  }

  .content-section--tips {
    margin-bottom: 71px;
    display: grid;
    gap: 0;
    margin-left: 0;
    margin-top: 0px;
  }

  .factor-title {
    width: 314px;
  }

  .factor-text {
   width: 314px;
  }
  
  .content-section--tips .tips-header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1px;
    margin-bottom: 0px;
    align-items: start;
    margin-left: 21px;
    margin-top: 64px;
  }
  
  .content-section--tips .tips-header__main {
    margin: 0;
    margin-top: 0;
  }
  
  .content-section--tips .tips-header__subtitle {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
  }
  
  .content-section--tips .content-section__body--tips {
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 6px;
  }
  
  .content-section--tips .card--advice {
    margin-bottom: 0;
    padding-top: 0;
    margin-top: 0;
  }
  
  .content-section--tips .card--advice .card__title {
    margin: 0 0 4px 0;
    padding: 2px 0;
  }
  
  .content-section--tips .card--advice .card__paragraph {
    padding: 0;
    margin: 0 0 12px 0;
    margin-bottom: 0;
    margin-top: 4px;
  }
  
  .content-section--tips .card--advice:last-child .card__paragraph {
    margin-bottom: 0;
  }

  .gallery-title-custom {
    width: 98%;
  }

  .gallery__grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
    width: 98%;
    margin-top: 17px;
  }
  
  .gallery__image:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    height: 260px;
  }
  
  .gallery__image:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    height: 595px;
  }
  
  .gallery__image:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    height: 768px;
  }
  
  .gallery__image:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    height: 315px;
  }
  
  .gallery__image:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    height: 428px;
  }
  
  .footer__title {
    font-size: clamp(8.5rem, -0.4375rem + 14.4531vw, 9.8125rem);
    margin-top: 85px;
  }
  
  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }
  
  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .footer-decorated::before {
    top: 60px;
    right: 20px;
  }

  .footer-decorated::after {
    bottom: 0;
    left: 20px;
    top: 763px;
  }
}