.page {
  background-image: var(--bg-image);
  background-color: var(--bg-color);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: var(--text-color);
  font-family: 'IBM Plex Mono', 'Courier New', Courier, monospace;
  font-size: 16px;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  justify-items: end;
  min-height: 668px;
  height: 100vh;
  padding: 10px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--decor-color);
  border-right: 1px solid var(--decor-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--decor-color);
  border-left: 1px solid var(--decor-color);
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  border: 1px solid transparent;
  padding: 2px 14px 4px;
  appearance: none;
  cursor: pointer;
  color: var(--accent-color);
  text-transform: lowercase;
  font-family: inherit;
  font-size: inherit;
  line-height: 1;
  transition: border-color 0.3s ease;
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--menu-button-active);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--menu-button-hover);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--menu-button-focus);
}

.header__rec {
  position: absolute;
  top: 10px;
  right: 38px;
  color: var(--accent-color);
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.39;
}

.header__rec::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
  top: 8px;
  right: -20px;
}

.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: 0.825;
  font-weight: 700;
}

.header__text {
  font-weight: 700;
  color: var(--text-accent-color);
  line-height: 1.3;
  font-size: 18px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card__title {
  font-size: 18px;
  background-color: var(--accent-color);
  color: var(--text-accent-color);
  padding: 2px 0;
  line-height: 1.3;
  font-weight: 700;
  min-height: 23px;
  display: flex;
  align-items: center;
}

.card__title--regular {
  font-weight: 400;
}

.card__content {
  padding-top: 10px;
}

.card__paragraph {
  color: var(--text-color);
  line-height: 1.3;
  margin: 0;
  font-size: 18px;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--text-accent-color);
}


.content {
  padding: 40px 10px;
}

.content-section {
  margin-bottom: 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content-section__title {
  color: var(--accept-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3;
}

.text-card {
  margin-bottom: 20px;
}

.text-card:last-child {
  margin: 0;
}

.text-card__title {
  margin-bottom: 10px;
  line-height: 23.4px;
  font-size: 18px;
}

.text-card__paragraph {
  line-height: 23.4px;
  font-size: 18px;
}

.tips-header__main {
  font-weight: 700;
  font-size: 18px;
  color: var(--accept-color);
  line-height: 1.3;
}

.tips-header__subtitle {
  background-color: var(--accent-color);
  color: var(--text-accent-color);
  font-size: 18px;
  line-height: 1.3;
  font-weight: 700;
  margin-bottom: 20px;
}

.text-card__title--regular {
  font-weight: 400;
}

.content-section__body--tips {
  gap: 0;
}

.card--advice {
  margin-bottom: 12px;
  position: relative;
}

.card--advice:last-child {
  margin-bottom: 0;
}

.card--advice .card__title {
  margin: 0;
  padding: 4px 10px;
  text-align: start;
  min-height: 23px;
  display: flex;
  align-items: center;
}

.card--advice .card__paragraph {
  margin: 0;
  padding: 8px 0 0 0;
}

.gallery {
  display: grid;
  gap: 10px;
}

.gallery__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3;
}

.gallery__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.gallery__image {
  width: 100%;
  object-position: center;
}

.footer {
  position: relative;
  display: grid;
  place-items: center;
  min-height: 668px;
  height: 100vh;
  padding: 10px;
}

.footer__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--title-color);
  text-shadow: 2px 2px 0 var(--accent-color);
  font-weight: 700;
  line-height: 0.825;
}

.link {
  color: var(--text-color);
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
  transition: border-color 0.3s ease;
}

.link:hover {
  border-bottom: 1px solid var(--text-color);
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid var(--text-color);
}

@media (width >= 768px) {
  .header {
    padding: 20px;
  }

  .header__title {
    justify-self: start;
    margin-left: -20px;
  }

  .content {
    padding: 60px 20px;
  }
  
.decorated-zone::before {
  top: 20px;
  right: 20px;
}

.decorated-zone::after {
  bottom: 20px;
  left: 20px;
}

.header__rec {
  top: 20px;
  right: 48px;
}

.header__rec::after {
  top: 8px;
  right: -20px;
}

.header__text {
  width: 50%;
  justify-self: end;
}

.content-section {
  
  margin-bottom: 80px;
}

.content-section__title--why {
  width: 236px;
}

.content-section__body {
  width: 472px;
}

  .content-section--why {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 80px;
  }
  
  .content-section__title {
    width: 236px;
  }

  .factor-title {
    width: 728px;
  }

  .paragraph--why {
    width: 728px;
  }
  
  .tips-header__main {
    width: 236px;
  }

   .content-section--tips {
    display: grid;
    grid-template-columns: 236px 1fr;
    gap: 20px;
    margin-bottom: 78px;
  }

  .gallery {
    gap: 19px;
  }

  .gallery__grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
  }

    .gallery__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .sunset {
    grid-column: 1 / 3;
    grid-row: 1;
    height: 192px;
  }
  
  .ice-cream {
    grid-column: 3;
    grid-row: 1 / 3;
    height: 442px;
  }
  
  .cassette {
    grid-column: 1;
    grid-row: 2 / 4;
    height: 568px;
  }
  
  .books {
    grid-column: 2;
    grid-row: 2;
    height: 230px;
  }
  
  .street {
    grid-column: 2 / 4;
    grid-row: 3;
    height: 318px;
  }

}

@media (width >= 1024px) {
  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
  }

   .header__theme-menu {
    justify-self: center;
    align-self: start;
    margin-top: 0px;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__text {
    width: 491px;
  }

  .content-section__title {
    width: 314px;
  }

   .content-section--why {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .content-section__title--why {
    width: 315px;
  }
  
  .content-section__body {
    width: calc(100% - 335px);
  }

   .content-section--factors {
    flex-direction: column;
    gap: 20px;
  }

   .content-section__body--card-column {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
  }

  .card-why {
    width: 315px;
  }

  .paragraph--why {
    width: 315px;
  }

  .factor-title {
    width: 315px;
  }

  .tips-header__main {
  width: 315px;
}

.content-section--tips {
  gap: 99px
}

.content-section__body--tips {
  width: 649px;
}

.sunset {
  width: 650px;
  height: 260px;
  }
  
  .ice-cream {
    height: 595px;
  }
  
  .cassette {
    height: 768px;
  }
  
  .books {
    height: 315px;
  }
  
  .street {
    height: 433px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

}